/* www.patternfly.org */
body {
  font-size: 13px;
  padding-top: 0 !important;
}
.clearfix img {
  height: auto;
  max-width: 100%;
}
.collapse-toggle {
  color: #0099d3;
  padding-left: 12px;
  position: relative;
}
.collapse-toggle:after {
  border: 4px solid transparent;
  border-top-color: #0099d3;
  border-bottom-width: 0;
  content: '';
  height: 0;
  left: 0;
  opacity: .95;
  position: absolute;
  top: 8px;
  width: 0;
}
.collapse-toggle:hover {
  color: #00618a;
}
.collapse-toggle:hover:after {
  border-top-color: #00618a;
}
.collapse-toggle.collapsed:after {
  border-bottom-width: 4px;
  border-left-color: #0099d3;
  border-top-color: transparent;
  border-right-width: 0;
  left: 2px;
  top: 30%;
}
.collapse-toggle.collapsed:hover:after {
  border-left-color: #00618a;
}
#comments {
  margin-top: 20px;
}
#comment-form-elements {
  margin-bottom: 15px;
}
.commentlist {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.commentlist .avatar,
.commentlist .avatar a {
  color: #777;
}
.commentlist .avatar .name {
  margin-left: 2px;
}
.commentlist .children {
  list-style: none;
  margin-left: 30px;
  padding-left: 0;
}
.commentlist .comment-text {
  margin: 7px 0 20px 30px;
}
.commentlist .comment-text [class^="comment-"] + [class^="comment-"] {
  margin-left: 10px;
}
.commentlist [id^='comment-'] + #respond {
  margin-left: 30px;
}
#content {
  position: relative;
}
#content a {
  word-break: break-word;
}
.examples {
  margin: 20px 0;
}
h1 {
  font-weight: 300;
  font-size: 24px;
}
h2 {
  font-weight: 500;
  font-size: 18px;
}
h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}
h3.card-pf-subtitle {
  font-weight: 500;
  line-height: 1.1;
}
h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}
h5,
h6 {
  font-weight: 600;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1.card-pf-title,
h2.card-pf-title,
h3.card-pf-title {
  line-height: 1.1;
}
@media (min-width: 768px) {
  header + .container {
    padding-top: 73px;
  }
}
header .navbar.navbar-default {
  background: #040404 !important;
  border-bottom: 0 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 2px solid #32a6d7;
  font-size: 13px;
  margin-bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}
header .navbar.navbar-default .form-group {
  display: block;
}
header .navbar.navbar-default .navbar-brand {
  background: url(../img/patternfly.svg) no-repeat 20px 50%;
  height: 40px;
  line-height: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  text-indent: -9999px;
  width: 240px;
}
header .navbar.navbar-default .navbar-brand:hover:after {
  background: #1F89C7;
  content: '';
  height: 1px;
  left: 76px;
  position: absolute;
  top: 33px;
  width: 163px;
}
header .navbar.navbar-default .navbar-collapse {
  border-top-color: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-height: auto;
}
header .navbar.navbar-default .navbar-collapse .navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}
header .navbar.navbar-default .navbar-form {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}
@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-form {
    margin-bottom: 24px;
    margin-right: 0;
    margin-top: 23px;
    padding-left: 10px;
    padding-right: 0;
  }
}
header .navbar.navbar-default .navbar-form:before {
  color: #eee;
  content: "\f002";
  font: 14px/1 "FontAwesome";
  position: absolute;
  left: 24px;
  top: 4px;
}
@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-form:before {
    left: 14px;
    top: 4px;
  }
}
header .navbar.navbar-default .navbar-form .btn {
  display: none;
}
header .navbar.navbar-default .navbar-form .form-control {
  background: rgba(255, 255, 255, 0.15);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #dbdada;
  display: block;
  height: 22px;
  padding-bottom: 1px;
  padding-left: 22px;
  padding-top: 1px;
}
@media (min-width: 768px) {
  header .navbar.navbar-default .navbar-form .form-control {
    width: 100%;
  }
}
@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-form .form-control {
    display: inline-block;
    width: 130px;
  }
}
header .navbar.navbar-default .navbar-form .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}
@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-header {
    float: none;
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-right {
    float: none !important;
  }
}
header .navbar.navbar-default .navbar-right > li.active > a,
header .navbar.navbar-default .navbar-right > li.active:hover > a {
  background: transparent !important;
  color: #3bb1dc !important;
}
header .navbar.navbar-default .navbar-right > li:hover {
  background: #212121;
}
header .navbar.navbar-default .navbar-right > li:hover > a {
  background: transparent;
  color: #fff;
}
header .navbar.navbar-default .navbar-right > li > a {
  color: #eee;
  padding: 7px 20px;
}
@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-right > li > a {
    padding: 25px 15px;
  }
}
header .navbar.navbar-default .navbar-right > li > a:hover {
  color: #fff;
}
header .navbar.navbar-default .navbar-right > li.current-menu-item > a,
header .navbar.navbar-default .navbar-right > li.current-menu-ancestor > a,
header .navbar.navbar-default .navbar-right > li.current-menu-item:hover > a,
header .navbar.navbar-default .navbar-right > li.current-menu-ancestor:hover > a {
  background: #1f1f1f !important;
  color: #fff !important;
}
header .navbar.navbar-default .navbar-right > li:hover,
header .navbar.navbar-default .navbar-right > li.open {
  background: #171717;
}
header .navbar.navbar-default .navbar-right > li:hover > a,
header .navbar.navbar-default .navbar-right > li.open > a {
  background: transparent;
  color: #fff;
}
header .navbar.navbar-default .navbar-toggle {
  background-color: transparent;
  border: none;
  margin-top: 19px;
}
header .navbar.navbar-default .navbar-toggle:focus {
  outline: none;
}
header .navbar.navbar-default .navbar-toggle:focus .icon-bar,
header .navbar.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}
hr {
  border-top-color: #D5D5D5;
}
html {
  height: 100%;
}
html #wpadminbar {
  z-index: 10000 !important;
}
.login {
  background: #080808 url("../components/patternfly/dist/img/bg-login.jpg") repeat-x 50% 0 !important;
  background-size: auto !important;
  color: #fff;
  height: 100%;
}
@media (min-width: 992px) {
  .login {
    background-size: 100% auto !important;
  }
}
.login form {
  background-color: #181818;
  background-color: rgba(255, 255, 255, 0.055);
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 30px 20px 60px 20px;
  margin: 25px 0 0;
}
@media (min-width: 992px) {
  .login form {
    padding-left: 80px;
  }
}
.login form .forgetmenot {
  padding-bottom: 10px;
}
.login form .forgetmenot label {
  font-size: 12px;
  margin-bottom: 16px;
}
.login form input[type=submit] {
  border-radius: 1px;
  background-color: #0085cf;
  background-image: -webkit-linear-gradient(top, #00a8e1 0%, #0085cf 100%);
  background-image: -o-linear-gradient(top, #00a8e1 0%, #0085cf 100%);
  background-image: linear-gradient(to bottom, #00a8e1 0%, #0085cf 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00a8e1', endColorstr='#ff0085cf', GradientType=0);
  border-color: #006e9c;
  color: #fff;
  font-size: 12px !important;
  height: 30px !important;
  line-height: 1 !important;
  margin-bottom: 0 !important;
  padding: 2px 12px !important;
}
.login form input[type=submit]:hover,
.login form input[type=submit]:focus,
.login form input[type=submit]:active,
.login form input[type=submit].active,
.open .dropdown-toggle.login form input[type=submit] {
  background-color: #0085cf;
  background-image: none;
  border-color: #006e9c;
  color: #fff;
}
.login form input[type=submit]:active,
.login form input[type=submit].active,
.open .dropdown-toggle.login form input[type=submit] {
  background-image: none;
}
.login form input[type=submit]:active:hover,
.login form input[type=submit].active:hover,
.open .dropdown-toggle.login form input[type=submit]:hover,
.login form input[type=submit]:active:focus,
.login form input[type=submit].active:focus,
.open .dropdown-toggle.login form input[type=submit]:focus,
.login form input[type=submit]:active.focus,
.login form input[type=submit].active.focus,
.open .dropdown-toggle.login form input[type=submit].focus {
  background-color: #0075b6;
  border-color: #005578;
}
.login form input[type=submit].disabled,
.login form input[type=submit][disabled],
fieldset[disabled] .login form input[type=submit],
.login form input[type=submit].disabled:hover,
.login form input[type=submit][disabled]:hover,
fieldset[disabled] .login form input[type=submit]:hover,
.login form input[type=submit].disabled:focus,
.login form input[type=submit][disabled]:focus,
fieldset[disabled] .login form input[type=submit]:focus,
.login form input[type=submit].disabled:active,
.login form input[type=submit][disabled]:active,
fieldset[disabled] .login form input[type=submit]:active,
.login form input[type=submit].disabled.active,
.login form input[type=submit][disabled].active,
fieldset[disabled] .login form input[type=submit].active {
  background-color: #0085cf;
  border-color: #006e9c;
}
.login form input[type=submit]:active {
  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
}
.login form input[type=submit]:focus {
  outline: none;
}
.login form input[type=submit],
.login form input[type=submit]:hover {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.login form input[type=checkbox] {
  height: 16px;
  margin: -3px 4px 0 0;
  width: 16px;
}
.login form input[type=email],
.login form input[type=password],
.login form input[type=text] {
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #BABABA;
  border-radius: 1px;
  color: #333333;
  display: block;
  font-size: 12px;
  height: 26px;
  line-height: 1.66666667;
  padding: 2px 6px;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
@media (min-width: 992px) {
  .login form input[type=email],
  .login form input[type=password],
  .login form input[type=text] {
    width: 300px;
  }
}
.login form input[type=email]:hover,
.login form input[type=password]:hover,
.login form input[type=text]:hover {
  border-color: #7BB2DD;
}
.login form label {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
}
.login h1 {
  padding-top: 20px;
}
@media (min-width: 992px) {
  .login h1 {
    margin-left: 80px;
  }
}
.login h1 a {
  background: url(../img/patternfly.svg) no-repeat;
  height: 40px;
  margin: 0 auto;
  width: 235px !important;
}
.ie8 .login h1 a {
  background-image: url(../img/patternfly.png);
}
@media (min-width: 992px) {
  .login h1 a {
    margin-left: 0;
  }
}
.login #pass-strength-result {
  color: #333333;
  margin-top: 0;
}
.login #login {
  padding: 0;
  width: auto;
}
@media (min-width: 992px) {
  .login #login {
    bottom: 13%;
    position: absolute;
    width: 100%;
  }
}
.login #login #backtoblog {
  display: none;
}
.login #login form p {
  clear: left;
  font-size: 12px;
  font-weight: normal;
}
@media (min-width: 992px) {
  .login #login form p.submit {
    width: 300px;
  }
}
.login #login form p.submit input {
  float: none;
}
.login #login_error,
.login .message {
  background: none;
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FF3F3F;
  margin: 10px 20px -10px;
  padding: 0;
}
@media (max-width: 991px) {
  .login #login_error,
  .login .message {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .login #login_error,
  .login .message {
    margin-left: 80px;
  }
}
.login .message {
  color: #ddd;
}
.login .message + #login_error {
  margin-top: 20px;
}
.login #nav {
  font-size: 12px;
  margin: -50px 0 0 20px;
  padding: 0;
}
@media (min-width: 992px) {
  .login #nav {
    margin-left: 80px;
  }
}
.login #nav a {
  color: #0099d3;
}
.login #nav a:hover {
  color: #3ac9ff;
  text-decoration: underline;
}
.meta {
  color: #999999;
  font-size: 11px;
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: static;
  }
}
.page-header {
  border-bottom: 0;
  margin-top: 34px;
  padding: 0;
}
.post_content h2 + h3 {
  margin-top: 0;
}
.post_content h2[id],
.post_content h3[id],
.post_content h4[id],
.post_content h5[id],
.post_content p[id] {
  margin-top: -83px;
  padding-top: 83px;
}
body.admin-bar .post_content h2[id],
body.admin-bar .post_content h3[id],
body.admin-bar .post_content h4[id],
body.admin-bar .post_content h5[id],
body.admin-bar .post_content p[id] {
  margin-top: -56px;
  padding-top: 56px;
}
@media (min-width: 783px) {
  body.admin-bar .post_content h2[id],
  body.admin-bar .post_content h3[id],
  body.admin-bar .post_content h4[id],
  body.admin-bar .post_content h5[id],
  body.admin-bar .post_content p[id] {
    margin-top: -115px;
    padding-top: 115px;
  }
}
#respond {
  margin: 0 0 15px 0;
}
#respond h3 {
  line-height: 1;
  margin: 0 0 10px;
}
#respond textarea {
  margin-bottom: 10px;
  width: 100%;
}
strong {
  font-weight: 600;
}
th {
  font-weight: 600;
}
.updated {
  color: #999;
  font-size: 10px;
  margin-bottom: 20px;
  margin-top: -12px;
}
#widget-footer {
  color: #444;
  font-size: 10px;
  line-height: 15px;
  padding-bottom: 20px;
  padding-top: 40px;
}
#widget-footer hr {
  margin: 0 0 30px;
}
#widget-footer #logo-redhat {
  background: url(../img/redhat.svg) no-repeat;
  display: block;
  height: 25px;
  text-indent: -9999px;
  width: 78px;
}
@media (min-width: 992px) {
  #widget-footer #logo-redhat {
    float: right;
  }
}
.ie8 #widget-footer #logo-redhat {
  background-image: url(../img/redhat.png);
}
#widget-footer p {
  font-size: 11px;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  #widget-footer .widget + .widget {
    float: none;
  }
}
#widget-footer .widget_text:first-child {
  padding-top: 0;
}
#widget-footer .widget_text + .widget_text {
  padding-top: 10px;
}
@media (min-width: 992px) {
  #widget-footer .widget_text + .widget_text {
    padding-top: 5px;
  }
}
/*# sourceMappingURL=patternfly-site.css.map */